.container__tratamento {
  width: 100vw;
  height: 100%;
  min-height: 90vh;

}

/* DIV DE TEXTO RESIDUOS */
.title-residuos {
  width: 100vw;
  max-width: 1980px;
  height: 22vh;
  display: flex;
  flex-direction: column;
  padding: 42px;
  margin-top: 5rem;
  font-weight: 400;
  text-align: center;
}

/* FIM */

/* TITULO DA DIV */
.residuos__gestao {
  width: 100%;
  text-align: center;
  margin-bottom:2rem;
}

.residuos__gestao>span {
  font-weight: 400;
  font-size: 1.6em;
}


/* FIM */


/* CONTAINER GERAL TRATAMENTO */

.tratamento__processo {
  position: relative;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 42px;
  gap: 64px;
}



.processo__title__destinacao>h3,
.processo__title__tratamento>h3,
.processo__title__transporte>h3,
.processo__title>h3 {
  width: 14rem;
  padding: 12px;
  text-align: center;
  border-radius: 10px;
  color: white;
  background: var(--primary-color);


  cursor: pointer;
}


.processo__title__destinacao>h3:hover,
.processo__title__transporte>h3:hover,
.processo__title__tratamento>h3:hover,
.processo__title>h3:hover {
  box-shadow: 2px 2px 2px #00ff22;
}







/* AFTERS */

.processo__title>h3::after {
  content: '';
  position: absolute;
  width: 64px;
  height: 32px;
  top: 2.8rem;
  left: 28.5rem;
  background-image: url(../../assets/imgs/TratamentoImgs/seta1.gif);
  background-repeat: no-repeat;
}


.processo__title__transporte>h3::after {
  content: '';
  position: absolute;
  width: 64px;
  height: 32px;
  top: 2.8rem;
  left: 46.5rem;
  background-image: url(../../assets/imgs/TratamentoImgs/seta1.gif);
  background-repeat: no-repeat;
}


.processo__title__tratamento>h3::after {
  content: '';
  position: absolute;
  width: 64px;
  height: 32px;
  top: 2.8rem;
  left: 64.5rem;
  background-image: url(../../assets/imgs/TratamentoImgs/seta1.gif);
  background-repeat: no-repeat;
}


/* CONTAINERS DESCRIPTION */

.processo__description__destinacao,
.processo__description__tratamento,
.processo__description__transporte,
.processo__description {
  width: 14rem;
  height: auto;
  background: #D9D9D9;
  margin-top: .5rem;
  border-radius: 10px;
  transition: all .3s ease-in-out;
}


.processo__description {
  overflow: hidden;
  max-height:8rem ;
  padding: 8px;
  transition: max-height .6s ease-in-out /* Adiciona uma transição suave */
}

.processo__description.expanded {
  max-height: 100%; /* Define a altura máxima quando expandido */
  overflow-y: hidden;
}


/* FIM */





/* MEDIA QUERYS */

@media (min-width: 2000px) and (max-width: 2560px)  {
  .processo__title>h3::after {
    left: 60.5rem;
  }

  .processo__title__transporte>h3::after {
    left: 78.5rem;
  }


  .processo__title__tratamento>h3::after {
    left: 96.5rem;

  }
}



@media (min-width: 1760px) and (max-width: 1980px)  {
  .processo__title>h3::after {
    left: 40.5rem;
  }

  .processo__title__transporte>h3::after {
    left: 58.5rem;
  }


  .processo__title__tratamento>h3::after {
    left: 76.5rem;

  }
}


@media (max-width: 1448px) {

  .processo__title>h3::after {
    left: 25.5rem;
  }

  .processo__title__transporte>h3::after {
    left: 43.5rem;
  }


  .processo__title__tratamento>h3::after {
    left: 61.5rem;
  }

}



@media (max-width: 1368px) {
  .processo__title>h3::after {
    left: 23rem;
  }

  .processo__title__transporte>h3::after {
    left: 41rem;
  }


  .processo__title__tratamento>h3::after {
    left: 59rem;
  }

}

@media (max-width: 1288px) {
  .processo__title>h3::after {
    left: 20.5rem;
  }

  .processo__title__transporte>h3::after {
    left: 38.5rem;
  }


  .processo__title__tratamento>h3::after {
    left: 56.5rem;
  }

}


@media (max-width: 1024px) {
  .tratamento__processo {
    gap: 22px;
  }

  .processo__title__destinacao>h3,
  .processo__title__tratamento>h3,
  .processo__title__transporte>h3,
  .processo__title>h3 {
    width: 11rem;
  }

  .processo__description__destinacao,
  .processo__description__tratamento,
  .processo__description__transporte,
  .processo__description {
    width: 11rem;
  }

  .processo__title__transporte>h3::after,
  .processo__title__destinacao>h3::after,
  .processo__title>h3::after {
    display: none;
  }

}

@media (max-width: 767px) {}

@media (max-width: 418px) {
  .tratamento__processo {
    flex-direction: column;
    margin-top: 8rem;
  }

  .processo__title__destinacao>h3,
  .processo__title__tratamento>h3,
  .processo__title__transporte>h3,
  .processo__title>h3 {
    width: 100%;
  }

  .processo__description__destinacao,
  .processo__description__tratamento,
  .processo__description__transporte,
  .processo__description {
    width: 100%;
  }

  .title-residuos {
    text-align: left;
  }
}

@media (max-width: 320px) {
  .tratamento__processo {
    flex-direction: column;
    margin-top: 13rem;
  }

  .processo__title__destinacao>h3,
  .processo__title__tratamento>h3,
  .processo__title__transporte>h3,
  .processo__title>h3 {
    width: 100%;
  }

  .processo__description__destinacao,
  .processo__description__tratamento,
  .processo__description__transporte,
  .processo__description {
    width: 100%;
  }
}
