#container-card-left {
    width: 80%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 42px;
}


.card-left-description {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
}

.card-left-description>h2 {
    padding: 12px;
}

.card-left-description>p {
    line-height: 1.5;
}


.card-left-img {
    width: 30rem;
    border-radius: 10px;
}
