#container-card-right {
    width: 100%;
    max-width: 1980px;
    height: 500px;
    display: flex;
    justify-content: center;
    padding: 42px;
}


.card-right-description {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: left;
}

.card-right-description>h2 {
    padding: 12px;
}

.card-right-description>p {
    line-height: 1.7;
}


.card-right-img {
    width: 30rem;
    border-radius: 10px;
}


/* RESPONSIVIDADE */

@media (max-width: 768px) {
    #container-card-right {
        flex-wrap: wrap-reverse;
        margin-top: 5rem;
    }

    .card-right-description {
        width: 100%;

    }
}
