/* FONTS */
@import url(./fonts.css);


:root {
  --primary-font:"Roboto", sans-serif;
}

:root {
  --primary-color: #006D2E;
  --secundary-color: #BF1B2C;
}





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: var(--primary-font);
  overflow-x: hidden;
}








