/* FONTS */
@import url(./fonts.css);


:root {
  --primary-font:"Roboto", sans-serif;
}

:root {
  --primary-color: #006D2E;
  --secundary-color: #BF1B2C;
}





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  overflow-x: hidden;
}





@media (max-width: 1025px) {
  body {
    overflow: hidden;
  }
}


@media (max-width: 768px) {
  body {
    overflow: hidden;
  }
}

@media (max-width: 428px) {
  body {
    overflow: hidden;
  }
}

@media (max-width: 328px) {
  body {
    overflow: hidden;
  }
}


